#size {
  padding-left: 10px;
}

a:visited {
  color: #0000ee;
}

.siteIcon {
  height: 20px;
  width: 20px;
}

.craftImage {
  height: 25px;
  width: 25px;
}

.recipe, .leve {
  height: 25px;
  display: flex;
  align-items: center;
}

#recipeDisplay, .recipeHover {
  background-color: #DFF6FF;
}

.recipeTitle > div {
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.recipeTitle {
  background-color: #DFF6FF;
  display: flex;
}

.recipeIcon {
  height: 40px;
  width: 40px;
}

.recipeEntry {
  margin-top: 5px;
  padding: 3px;
}

.recipeEntry:nth-Child(even) {
  background-color: #CFE6EF;
}

.recipeType .linkIcon {
  height: 30px;
  width: 30px;
}

.recipeType {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipeName {
  font-weight: bold;
}

.level {
  font-weight: bold;
  padding: 0 5px;
  font-size: 1.1em;
}

.created {
  padding-right: 2px;
}

.qty {
  font-style: italic;
  font-size: .8em;
}

.ingredient {
  display: flex;
  align-items: center;
}

.ingredientName {
  margin-left: 2px;
}

#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#history {
  margin-bottom: 3px;
}

.historyDiv {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  color: blue;
  border: 1px solid gray;
  padding: 4px 4px 0;
  font-size: 14px;
}

.historyLink {
  font-size: 16px;
}

#data {
  display: flex;
}

.linkIcon {
  height: 20px;
  width: 20px;
  display: inline-block;
  position: relative;
}

.hoverTip {
  white-space: nowrap;
  display: none;
  position: absolute;
  top: 14px;
  left: 8px;
  background: #FFF;
  color: #000;
  border-radius: 10px;
  padding: 3px;
  border: 1px solid black;
  z-index: 10;
}

.tabulator-row:last-of-type .hoverTip {
  top: revert;
  bottom: 20px;
}

.linkIcon:hover > .hoverTip {
  display: block;
}

#credits {
  text-align: center;
}

div.tabulator-cell.nameCell,
div.tabulator-col.tabulator-sortable.nameCell,
div.tabulator-cell.recipeCell
{
   overflow: visible; 
}

div.tabulator-cell.nameCell {
  white-space: normal;
}
