#size {
  padding-left: 10px;
}

a:visited {
  color: #0000ee;
}

.recipeIcon {
  height: 20px;
  width: 20px;
}

.craftImage {
  height: 25px;
  width: 25px;
}

.stack-size {
  font-size: .8em;
}

.recipe, .leve {
  height: 25px;
  display: flex;
  align-items: center;
}

.level {
  font-weight: bold;
  padding: 0 5px;
  font-size: 1.1em;
}

.created {
  padding-right: 2px;
}

.qty {
  font-style: italic;
  font-size: .8em;
}

.ingredient {
  font-style: italic;
}

.ingredient:not(:nth-child(4)) {
  padding: 0 2px;
}

.ingredient:not(:last-child):after {
  content: '; ';
}

#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#history {
  margin-bottom: 3px;
}

.historyDiv {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  color: blue;
  border: 1px solid gray;
  padding: 4px 4px 0;
  font-size: 14px;
}

.historyLink {
  font-size: 16px;
}

.searchLink {
  margin-left: 1px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  vertical-align: super;
  font-size: smaller;
}
.linkIcon {
  display: inline-block;
  position: relative;
}

.linkIcon span {
  display: none;
  position: absolute;
  top: 0;
  left: 32px;
  background: #FFF;
  color: #000;
  border-radius: 10px;
  padding: 3px;
  border: 1px solid black;
  z-index: 10;
}

.linkIcon:hover span {
  display: block;
}

.filterLink {
  display: inline-block;
  margin-top: 10px;
}

#options {
  padding-left: 10px;
}

#credits {
  text-align: center;
}
