#size {
  padding-left: 10px;
}

.craftImage {
  height: 25px;
  width: 25px;
}

.stack-size {
  font-size: .8em;
}

.recipe {
  height: 25px;
  display: flex;
  align-items: center;
}

.level {
  font-weight: bold;
  padding-right: 5px;
  font-size: 1.1em;
}

.created {
  padding-right: 2px;
}

.ingredient {
  font-style: italic;
}

.ingredient:not(:nth-child(4)) {
  padding: 0 2px;
}

.ingredient:not(:last-child):after {
  content: '; ';
}

#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#controls > div {
  flex-grow: 0;
}

#donate {
  margin-left: auto;
}
